<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ baseline }} - {{ site_name }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="description" content="{{ description }}">

        <!-- Twitter Card data -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="{{ twitter }}">
        <meta name="twitter:title" content="{{ site_name }}, {{ baseline }}">
        <meta name="twitter:description" content="{{ description }}">
        <meta name="twitter:image" content="{{ url_for('static', filename='img/logo_marianne_share.jpeg') }}">

        <!-- Open Graph data -->
        <meta property="og:title" content="{{ site_name }}, {{ baseline }}">
        <meta property="og:type" content="website">
        <meta property="og:url" content="{{ site_url }}">
        <meta property="og:image" content="{{ url_for('static', filename='img/logo_marianne_share.jpeg') }}">
        <meta property="og:description" content="{{ description }}">
        <meta property="og:site_name" content="{{ site_name }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/leaflet/dist/leaflet.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/leaflet.photon/leaflet.photon.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
        <script src="{{ url_for('static', filename='node_modules/leaflet/dist/leaflet.js') }}"></script>
        <script src="{{ url_for('static', filename='node_modules/leaflet.photon/leaflet.photon.js') }}"></script>
        <script src="{{ url_for('static', filename='utils.js') }}"></script>
        {% block extrahead %}{% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock %}">
        <header class="wrapper">
            <section><h1 class="beta"><a href="/">{{ site_name }}</a></h1></section>
            <section class="menu"><!--
              --><a class="mwide tthird" href="{{ url_for('download') }}">Télécharger</a><!--
              --><a class="mwide tthird soon" href="#">Contribuer</a><!--
              --><a class="mwide tthird" href="{{ url_for('tools') }}">Outils</a><!--
              --><a href="{{ url_for('api') }}" class="mwide tthird">API</a><!--
            --></section>
        </header>
        <div class="content">
            {% block content %}
            {% endblock content %}
        </div>
        <footer>
            <ul>{{ site_name }}
                <li><a href="{{ url_for('about') }}">À propos</a></li>
                <li><a href="{{ url_for('cgu') }}">Mentions légales</a></li>
                <li><a href="{{ url_for('faq') }}">FAQ</a></li>
                <li><a href="mailto:{{ contact_email }}">Contact</a></li>
            </ul>
            <ul>Partenaires
                <li><a href="http://ign.fr/">IGN</a></li>
                <li><a href="http://www.laposte.fr/">La Poste</a></li>
                <li><a href="http://openstreetmap.fr/">OpenStreetMap France</a></li>
                <li><a href="http://www.modernisation.gouv.fr/">SGMAP</a></li>
            </ul>
        </footer>
        <script type="text/javascript">
            Tooltip({content: 'Bientôt! :)', duration: 3000}).attachTo('.soon');
        </script>
    </body>
</html>
