{% extends 'base.html' %}

{% block body_class %}csv{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='node_modules/csvtogeocoder-ui/csvtogeocoder.css') }}">
<div class="wrapper head">
    <div class="row">
        <h1>Géocoder un fichier CSV</h1>
        <p><strong>{{ site_name }}</strong> met en place des outils pour une prise en main rapide des données adresses ouvertes.</p>
    </div>
</div>
<div class="wrapper">
    <div id="main" class="row"></div>
</div>
<script src="{{ url_for('static', filename='node_modules/csvtogeocoder-ui/csvtogeocoder.js') }}"></script>
<script type="text/javascript">
    CSVToGeocoder({container: '#main', postURL: '{{ api_root }}/csv/'});
</script>
{% endblock content %}
