{
  "plugins": [
    ["inline-import", {
      "extensions": [".css"]
    }],
    "lodash"
  ],

  "env": {
    "production": {
      "presets": [
        "next/babel"
      ]
    },

    "development": {
      "presets": [
        "next/babel"
      ]
    },

    "test": {
      "presets": [
        ["next/babel", {
          "preset-env": {
            "modules": "commonjs"
          }
        }]
      ]
    }
  }
}
