{
  "plugins": [
    [
      "inline-import", {
        "extensions": [".css"]
      }
    ]
  ],
  "presets": [
    "next/babel"
  ],

  "env": {
    "test": {
      "presets": [
        ["env", { "modules": "commonjs" }],
        "next/babel"
      ]
    }
  }
}
