

NEXT_PUBLIC_ADRESSE_URL=http://localhost:3000

# --------------------------------------------------------------------------------------------------------------
#  Parametres URL Externe autre projet BAN
# ---------------------------------------------------------------------------------------------------------------

NEXT_PUBLIC_API_GEO_URL=https://geo.api.gouv.fr/2022
NEXT_PUBLIC_API_ETABLISSEMENTS_PUBLIC=https://etablissements-publics.api.gouv.fr/v3

NEXT_PUBLIC_API_BAN_URL=https://plateforme.adresse.data.gouv.fr
NEXT_PUBLIC_API_ADRESSE=https://api-adresse.data.gouv.fr

# --------------------------------------------------------------------------------------------------------------
#  Utilisation appel externe Bal
# ---------------------------------------------------------------------------------------------------------------

NEXT_PUBLIC_API_DEPOT_URL=https://plateforme-bal.adresse.data.gouv.fr/api-depot
API_DEPOT_TOKEN=
SESSION_SECRET=

# Params pour la partie Blog
NEXT_PUBLIC_GHOST_URL=https://ghost.adresse.data.gouv.fr
NEXT_PUBLIC_GHOST_URL_IMAGES_SOURCE=ghost.adresse.data.gouv.fr
GHOST_KEY=

# Definition URL pour accès aux sites BAL
NEXT_PUBLIC_BAL_ADMIN_API_URL=https://bal-admin.adresse.data.gouv.fr/api
NEXT_PUBLIC_BAL_API_URL=https://api-bal.adresse.data.gouv.fr/v1
NEXT_PUBLIC_MES_ADRESSES=https://mes-adresses.data.gouv.fr

# --------------------------------------------------------------------------------------------------------------
#  Utilisation Matomo pour les stats
#
# ---------------------------------------------------------------------------------------------------------------

NEXT_PUBLIC_MATOMO_URL=
NEXT_PUBLIC_MATOMO_SITE_ID=
MATOMO_TOKEN_AUTH=

# A voir pour supprimer cette variable qui utilise la lib helmet
ENABLE_HELMET=0


PORT=3000

# Valeur 0 ou 1 pour la demande de certification
NEXT_PUBLIC_CERTIFICAT_NUMEROTATION_ENABLED=



