NEXT_PUBLIC_API_GEO_URL=https://geo.api.gouv.fr
NEXT_PUBLIC_BACKEND_URL=https://backend.adresse.data.gouv.fr
NEXT_PUBLIC_BAN_API_DEPOT=https://plateforme.adresse.data.gouv.fr/api-depot
NEXT_PUBLIC_BAL_API_URL=https://api-bal.adresse.data.gouv.fr/v1
NEXT_PUBLIC_API_BAN_URL=https://plateforme.adresse.data.gouv.fr
NEXT_PUBLIC_API_ADRESSE=https://api-adresse.data.gouv.fr
NEXT_PUBLIC_API_ETABLISSEMENTS_PUBLIC=https://etablissements-publics.api.gouv.fr/v3
NEXT_PUBLIC_BAN_DASHBOARD_URL=http://build-1.infra.geo.data.gouv.fr/
NEXT_PUBLIC_PIWIK_URL=
NEXT_PUBLIC_PIWIK_SITE_ID=
ENABLE_HELMET=0
