# Temporary file to set legacy-peer-deps to true for npm install,
# to avoid peer dependency conflicts with the new version of @types/node & Next.js 13.4.
# This should be removed once the dependencies are updated to be compatible with
# the new version of @types/node & Next.js 13.4.
legacy-peer-deps=true
