{
    "env": {
        "browser": true,
        "node": true
    },
    "rules": {
        "quotes": [2, "single"],
        "no-underscore-dangle": 0,
        "curly": 0,
        "consistent-return": 0,
        "new-cap": 0,
        "strict": [2, "global"],
        "indent": [2, 4],
        "no-shadow": 0,
        "no-use-before-define": 0
    },
    "globals": {
        "L": true
    }
}
