/* ************************************************* */
/* *********************** FONT ******************** */
/* ************************************************* */
@font-face {
    font-family: 'open_sanssemibold';
    src: url('./font/OpenSans-Semibold-webfont.eot');
    src: url('./font/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('./font/OpenSans-Semibold-webfont.woff') format('woff'),
         url('./font/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('./font/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansextrabold_italic';
    src: url('./font/OpenSans-ExtraBoldItalic-webfont.eot');
    src: url('./font/OpenSans-ExtraBoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('./font/OpenSans-ExtraBoldItalic-webfont.woff') format('woff'),
         url('./font/OpenSans-ExtraBoldItalic-webfont.ttf') format('truetype'),
         url('./font/OpenSans-ExtraBoldItalic-webfont.svg#open_sansextrabold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanssemibold_italic';
    src: url('./font/OpenSans-SemiboldItalic-webfont.eot');
    src: url('./font/OpenSans-SemiboldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('./font/OpenSans-SemiboldItalic-webfont.woff') format('woff'),
         url('./font/OpenSans-SemiboldItalic-webfont.ttf') format('truetype'),
         url('./font/OpenSans-SemiboldItalic-webfont.svg#open_sanssemibold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('./font/OpenSans-Regular-webfont.eot');
    src: url('./font/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./font/OpenSans-Regular-webfont.woff') format('woff'),
         url('./font/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('./font/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanslight';
    src: url('./font/OpenSans-Light-webfont.eot');
    src: url('./font/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('./font/OpenSans-Light-webfont.woff') format('woff'),
         url('./font/OpenSans-Light-webfont.ttf') format('truetype'),
         url('./font/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanslight_italic';
    src: url('./font/OpenSans-LightItalic-webfont.eot');
    src: url('./font/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('./font/OpenSans-LightItalic-webfont.woff') format('woff'),
         url('./font/OpenSans-LightItalic-webfont.ttf') format('truetype'),
         url('./font/OpenSans-LightItalic-webfont.svg#open_sanslight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansitalic';
    src: url('./font/OpenSans-Italic-webfont.eot');
    src: url('./font/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('./font/OpenSans-Italic-webfont.woff') format('woff'),
         url('./font/OpenSans-Italic-webfont.ttf') format('truetype'),
         url('./font/OpenSans-Italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansextrabold';
    src: url('./font/OpenSans-ExtraBold-webfont.eot');
    src: url('./font/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('./font/OpenSans-ExtraBold-webfont.woff') format('woff'),
         url('./font/OpenSans-ExtraBold-webfont.ttf') format('truetype'),
         url('./font/OpenSans-ExtraBold-webfont.svg#open_sansextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansbold';
    src: url('./font/OpenSans-Bold-webfont.eot');
    src: url('./font/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('./font/OpenSans-Bold-webfont.woff') format('woff'),
         url('./font/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('./font/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansbold_italic';
    src: url('./font/OpenSans-BoldItalic-webfont.eot');
    src: url('./font/OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('./font/OpenSans-BoldItalic-webfont.woff') format('woff'),
         url('./font/OpenSans-BoldItalic-webfont.ttf') format('truetype'),
         url('./font/OpenSans-BoldItalic-webfont.svg#open_sansbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* ************************************************* */
/* ******************** GENERIC RULES ************** */
/* ************************************************* */
body {
    margin: 0;
    padding: 0;
}
body,
input,
textarea {
  color:#404040;
  color:rgba(0,0,0,0.75);
  font:15px/20px 'open_sansregular', sans-serif;
  -webkit-font-smoothing:antialiased;
}
div, ul, li, a, section, nav,
h1, h2, h3, h4, h5, h6,
hr, input, textarea, footer, header {
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
hr {
    clear: both;
    width: 100%;
    height: 0;
    max-width: 980px;
    margin: 28px auto;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #ddd;
    border-image: none;
    border-style: solid;
    border-width: 1px 0 0;
}
ol, ul {
    list-style: none;
}
h2, h3 {
    margin-bottom: 15px;
    line-height: 1.2em;
}
h1 {
    line-height: 1em;
}
h1, h2, h3, h4, h5 {
    font-family: 'open_sansbold';
    font-weight: normal;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
strong {
    font-family: "open_sansbold";
    font-weight: normal;
}
.img-group img {
    vertical-align: top;
}
a {
    color: #333;
}

/* ************************************************* */
/* *********************** GRID ******************** */
/* ************************************************* */
.wrapper {
    width: 100%;
    clear: both;
}
.wrapper:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.row {
    width: 100%;
    max-width: 1200px;
    clear: both;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
.col {
    float: left;
}
.col + .col {
    padding-left: 40px;
}
.half {
    width: 50%;
}
.third {
    width: 33.33%;
}
.two-third {
    width: 66.66%
}
.quarter {
    width: 25%;
}
.wide {
    width: 100%;
    padding-right: inherit;
}
.mshow, .tshow {
    display: none;
}


/* ************************************************* */
/* ********************** FORMS ******************** */
/* ************************************************* */
input[type="text"], input[type="password"], input[type="date"],
input[type="datetime"], input[type="email"], input[type="number"],
input[type="search"], input[type="tel"], input[type="time"],
input[type="url"], textarea {
    background-color: white;
    border: 1px solid #CCCCCC;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    color: rgba(0, 0, 0, 0.75);
    display: block;
    font-family: inherit;
    font-size: 14px;
    height: 56px;
    margin: 0 0 14px;
    padding: 7px;
    width: 100%;
}
input[type="submit"],
.button {
    border: none;
    border-radius: 2px;
    padding: 0 20px;
    text-decoration: none;
    color: #fff;
    font-size: 1.1em;
    background-color: #4E5D73;
    display: inline-block;
    margin-top: 20px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.button.action {
    background-color: #C75C5C;
}
.button.neutral {
    background-color: #E0E0D1;
    color: #666;
}
input[type="submit"]:hover,
.button:hover {
    background-color: #666;
    color: #fff;
}
textarea {
    height: 200px;
}
select {
    width: 100%;
    background-color: #fff;
    height: 28px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.75);
    border: 1px solid #ddd;
    margin-bottom: 15px;
}
select[multiple="multiple"] {
    height: auto;
}


/* ************************************************* */
/* *************** HEADER & FOOTER ***************** */
/* ************************************************* */
header {
    min-height: 100px;
    padding: 0 20px;
    background-color: #fefefe;
    color: #333;
    border-bottom: 1px solid #eee;
    background-image: url('./img/logo.jpg');
    background-repeat: no-repeat;
    background-position: left 20px center;
}
header h1 {
    line-height: 100px;
    margin-left: 140px;
    font-size: 40px;
    font-weight: normal;
    font-family: 'open_sanslight';
}
header .menu {
    float: right;
    margin-right: 60px;
}
header .menu a {
    color: #333;
    line-height: 100px;
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'open_sansextrabold';
    font-weight: normal;
}
header .menu a:hover {
    text-decoration: underline;
}
header .menu a + a {
    margin-left: 20px;
}
header section {
    display: inline-block;
}
footer {
    border-top: 1px solid #222;
    padding: 50px;
    color: #fefefe;
    background-color: #333;
    margin-top: 100px;
}
footer a,
header a {
    text-decoration: none;
    color: #fefefe;
    font-family: 'open_sanslight';
}
header h1 a {
    color: #333;
}
footer ul {
    width: 30%;
    display: inline-block;
}
footer .twitter:before {
    width: 20px;
    height: 20px;
    background-image: url('./img/twitter.png');
    background-position: left center;
    background-size: 20px auto;
    background-repeat: no-repeat;
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    padding-right: 5px;
}
.beta:after {
    content: 'bêta';
    font-family: 'open_sansextrabold';
    font-weight: normal;
    color: #de1c12;
    font-size: 15px;
    padding: 3px 5px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: 25px;
    left: -31px;
    float: right;
}


/* ************************************************* */
/* ******************** HOME *********************** */
/* ************************************************* */
.home .window {
    background-image: url('./img/window.png');
    background-position: top left;
    width: 100%;
    height: 350px;
    text-align: center;
}
.home .window h1,
.home .window h2 {
    background-color: #fefefd;
    display: inline-block;
    line-height: 1.5em;
    padding: 4px 12px;
    font-weight: normal;
}
.home .window h1 {
    margin-top: 100px;
    font-size: 2.9em;
    font-family: 'open_sansextrabold';
}
.home .window h2 {
    font-family: 'open_sanslight_italic';
    font-size: 1.3em;
}
.home .pitch {
    background-color: #222;
    color: #fefefd;
    padding: 10px 30px;
    text-align: center;
    font-size: 1.2em;
    line-height: 1.2em;
    font-family: 'open_sanslight';
}
.home .pitch strong {
    font-family: 'open_sanssemibold';
}
.home .pitch a {
    font-family: 'open_sanssemibold_italic';
    color: #fefefd;
}
.pitch p {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}
.home .partners {
    text-align: center;
    padding: 50px 0;
}
.home .partners li {
    display: inline-block;
    vertical-align: middle;
}
.home .partners li + li {
    margin-left: 50px;
}
.home .partners li img {
    max-width: 150px;
    max-height: 150px;
}
.home .actions {
    background-color: #2C3E50;
    text-align: center;
    padding: 50px 0;
}
.home .actions li {
    display: inline-block;
    width: 20%;
}
.home .actions li a {
    color: #fefefe;
    text-decoration: none;
    height: 120px;
    display: inline-block;
    width: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    vertical-align: bottom;
    padding-top: 110px;
    text-transform: uppercase;
    font-family: 'open_sansbold';
}
.home .actions li a:hover {
    text-decoration: underline;
}
.home .actions .download {
    background-image: url('./img/download.svg');
}
.home .actions .contribute {
    background-image: url('./img/contribute.svg');
}
.home .actions .tools {
    background-image: url('./img/tools.svg');
}
.home .actions .api {
    background-image: url('./img/api.svg');
}
.home h2.inter {
    height: 70px;
    line-height: 70px;
    font-size: 30px;
    padding-left: 20px;
    background-color: #666;
    font-family: 'open_sanslight';
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #fef0f1;
}
.home footer {
    margin-top: 0;
}

/* ************************************************* */
/* ***************** Content pages ***************** */
/* ************************************************* */
.head {
    background-color: #333;
}
.head .row {
    max-width: 1400px;
    margin-top: 0;
    background-color: #333;
    color: #efefef;
    padding: 40px;
    padding-left: 140px;
    background-repeat: no-repeat;
    background-position: center left 20px;
}


/* ************************************************* */
/* ********************* API *********************** */
/* ************************************************* */
.api .head .row {
    background-image: url('./img/api.svg');
}
.api .entrypoint h2, .api .entrypoint h3 {
    font-weight: normal;
}
.api .entrypoint h2 {
    font-family: 'open_sansbold';
}
.api .entrypoint {
    color: #333;
    padding-top: 40px;
    padding-bottom: 40px;
}
.api .entrypoint + .entrypoint {
    border-top: 1px solid #ddd;
}
.api .entrypoint .details {
    background-color: #eee;
    color: #333;
    padding: 40px; 
    border: 1px solid #ddd;
}
.api .entrypoint pre {
    font-size: 12px;
    background-color: #ddd;
    border: solid 1px #ccc;
    width: 95%;
    overflow: auto;
    padding: 10px;
}
.api .col:first-of-type {
    padding-right: 20px;
}
.api footer {
    margin-top: 0;
}


/* ************************************************* */
/* ******************** TOOLS ********************** */
/* ************************************************* */
.tools .head .row {
    background-image: url('./img/tools.svg');
}
.tools h2 a {
    color: #333;
}
.tools .content ul li {
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 50px;
    padding-left: 70px;
}
.tools ul .map {
    background-image: url('./img/map.svg');
}
.tools ul .csv {
    background-image: url('./img/csv-grey.svg');
}
.tools ul .api {
    background-image: url('./img/api-grey.svg');
}
.tooltip {
    position: fixed;
    z-index: 10000;
    background-color: #000;
    opacity: 0.9;
    color: #fefefd;
    padding: 5px 10px;
    border-radius: 1px;
    box-shadow: 0 0 2px black;
    display: none;
}


/* ************************************************* */
/* ********************* MAP *********************** */
/* ************************************************* */
.map #map {
    width: 100%;
    position: absolute;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
}
.map #map .photon-input {
    width: 400px;
}
.map #map .leaflet-right {
    right: calc(50% - 200px);
}
.map footer {
    display: none;
}
.reverse-label {
    padding: 0 10px;
    margin-bottom: 0!important;
    border: 1px solid #ddd;
    background-color: #fff;
    color: #333;
    opacity: 0.8;
}


/* ************************************************* */
/* ********************* CSV *********************** */
/* ************************************************* */
.csv .head .row {
    background-image: url('./img/csv.svg');
}
.csvtogeocoder #chosenColumns:empty:before {
    content: "Glisser les colonnes ici"!important;
}

/* ************************************************* */
/* ********************* FAQ *********************** */
/* ************************************************* */
.faq .head .row {
    background-image: url('./img/faq.svg');
}


/* ************************************************* */
/* ******************** ABOUT ********************** */
/* ************************************************* */
.about .head .row {
    background-image: url('./img/about.svg');
}


/* ************************************************* */
/* ********************* FOSS ********************** */
/* ************************************************* */
.foss .head .row {
    background-image: url('./img/copyleft.svg');
}


/* ************************************************* */
/* ******************* DOWNLOAD ******************** */
/* ************************************************* */
.download .head .row {
    background-image: url('./img/download.svg');
}
.download h2 {
    text-align: center;
    text-transform: uppercase;
}
.download-map {
    border-bottom: 1px solid #eee;
    margin-bottom: 40px;
    background-color: #fefefd;
}
.download-map .dep {
    fill: #ececec;
    stroke: #aaa;
}
.download-map .dep:hover {
    fill: #6C7A89;
    cursor: pointer;
}
.departements {
    border-right: 1px solid #ddd;
}
.departements li {
    padding: 5px;
}
.departements li:target {
    border-right: 3px solid #ddd;
    background-color: #f6f6f6;
}
.departements li:target:before {
    content: '⮕ ';
}
