{% extends 'base.html' %}

{% block body_class %}api{% endblock %}

{% block content %}
<div class="wrapper head">
    <div class="row">
        <h1>API</h1>
        <p>Avec l'API d'<strong>{{ SITE_NAME }}</strong>, embarquez directement les données ouvertes dans votre application.</p>
    </div>
</div>

<div class="wrapper">
    <div class="row prose">
        <p>Pour plus de clarté, les exemples de commande utilisent le package <a href="https://pypi.python.org/pypi/httpie">httpie</a>.</p>
    </div>
</div>

<div class="wrapper entrypoint" id="search">
    <div class="row">
        <div class="col third">
            <h2>/search/</h2>
            <p>Point d'entrée pour le géocodage.</p>
        </div>
        <div class="col two-third details">
            <p>Utiliser le paramètre <b>q</b> pour faire une recherche plein texte:</p>
            <pre>http 'http:{{ API_URL }}/search/?q=8 bd du port'</pre>
            <p>Avec <b>limit</b> on peut contrôler le nombre d'éléments retournés:</p>
            <pre>http 'http:{{ API_URL }}/search/?q=8 bd du port&amp;limit=15'</pre>
            <p>Avec <b>autocomplete</b> on peut désactiver les traitements d'auto-complétion:</p>
            <pre>http 'http:{{ API_URL }}/search/?q=8 bd du port&amp;autocomplete=0'</pre>
            <p>Avec <b>lat</b> et <b>lon</b> on peut donner une priorité géographique:</p>
            <pre>http 'http:{{ API_URL }}/search/?q=8 bd du port&amp;lat=48.789&amp;lon=2.789'</pre>
            <p>Le retour est un geojson <i>FeatureCollection</i> respectant la spec <a href="https://github.com/yohanboniface/geocodejson-spec">GeoCodeJSON</a>:</p>
<pre>{
	"attribution": "BANO",
	"licence": "ODbL",
	"query": "8 bd du port",
	"type": "FeatureCollection",
	"version": "draft",
	"features": [
		{
			"properties":
			{
				"context": "80, Somme, Picardie",
				"housenumber": "8",
				"label": "8 Boulevard du Port 80000 Amiens",
				"postcode": "80000",
				"id": "800216590L",
				"score": 0.3351181818181818,
				"name": "8 Boulevard du Port",
				"city": "Amiens",
				"type": "housenumber"
			},
			"geometry":
			{
				"type": "Point",
				"coordinates": [2.29009, 49.897446]
			},
			"type": "Feature"
		},
		{
			"properties":
			{
				"context": "34, H\u00e9rault, Languedoc-Roussillon",
				"housenumber": "8",
				"label": "8 Boulevard du Port 34140 M\u00e8ze",
				"postcode": "34140",
				"id": "341570770U",
				"score": 0.3287575757575757,
				"name": "8 Boulevard du Port",
				"city": "M\u00e8ze",
				"type": "housenumber"
			},
			"geometry":
			{
				"type": "Point",
				"coordinates": [3.605875, 43.425232]
			},
			"type": "Feature"
		}
	]
}</pre>
            <p>Les attributs retournés sont:</p>
            <ul>
            	<li><em>id</em> identifiant dans la base d'origine, pour BANO il est composé du code INSEE de la commune, puis du code FANTOIR de la voie ou du lieu-dit</li>
            	<li><em>type</em> type de résultat trouvé</li>
            	<ul>
            		<li><em>housenumber</em> numéro "à la plaque"</li>
            		<li><em>street</em> position "à la voie", placé approximativement au centre de celle-ci</li>
            		<li><em>place</em> lieu-dit</li>
            		<li><em>village</em> numéro "à la commune" dans un village</li>
            		<li><em>town</em> numéro "à la commune" dans une ville moyenne</li>
            		<li><em>city</em> numéro "à la commune" dans une grande ville</li>
            	</ul>
            	<li><em>score</em> valeur de 0 à 1 indiquant la pertinence du résultat</li>
            	<li><em>housenumber</em> numéro avec indice de répétition éventuel (bis, ter, A, B)</li>
            	<li><em>name</em> numéro éventuel et nom de voie ou lieu dit</li>
            	<li><em>postcode</em> code postal</li>
            	<li><em>city</em> nom de la commune</li>
            	<li><em>context</em> n° de département, nom de département et de région</li>
            	<li><em>label</em> libellé complet de l'adresse</li>
            </ul>
        </div>
    </div>        
</div>
<div class="wrapper entrypoint" id="reverse">
    <div class="row">
        <div class="col third">
            <h2>/reverse/</h2>
            <p>Point d'entrée pour le géocodage inverse.</p>
        </div>
        <div class="col two-third details">
            <p>Les paramètres <b>lat</b> et <b>lon</b> sont obligatoires:</p>
            <pre>http 'http:{{ API_URL }}/reverse/?lon=2.37&amp;lat=48.357'</pre>
            <p>Le paramètre <b>type</b> permet forcer le type de retour:</p>
            <pre>http 'http:{{ API_URL }}/reverse/?lon=2.37&amp;lat=48.357&amp;type=commune'</pre>
            <p>Même format de réponse que pour le point d'entrée <a href="#search"><b>/search/</b></a>.</p>
        </div>
    </div>
</div>
<div class="wrapper entrypoint" id="csv">
    <div class="row">
        <div class="col third">
            <h2>/csv/</h2>
            <p>Point d'entrée pour le géocodage de masse à partir d'un fichier CSV.</p>
        </div>
        <div class="col two-third details">
            <p>Le fichier csv (limité actuellement à 32Mo) doit être passé via le paramètre <b>data</b>:</p>
            <pre>http --timeout 600 -f POST http:{{ API_URL }}/csv/ data@path/to/file.csv</pre>
            <p>Par défaut, toutes les colonnes sont concaténées pour constituer l'adresse qui sera géocodée. On peut définir les colonnes à utiliser via de multiples paramètres <b>columns</b>:</p>
            <pre>http -f POST http:{{ API_URL }}/csv/ columns='voie' columns='ville' data@path/to/file.csv</pre>
        </div>
    </div>
</div>
{% endblock content %}
