<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ BASELINE }} - {{ SITE_NAME }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="description" content="{{ DESCRIPTION }}">

        <!-- Twitter Card data -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="{{ TWITTER }}">
        <meta name="twitter:title" content="{{ SITE_NAME }}, {{ BASELINE }}">
        <meta name="twitter:description" content="{{ DESCRIPTION }}">
        <meta name="twitter:image" content="{{ url_for('static', filename='img/logo_marianne_share.jpeg') }}">

        <!-- Open Graph data -->
        <meta property="og:title" content="{{ SITE_NAME }}, {{ BASELINE }}">
        <meta property="og:type" content="website">
        <meta property="og:url" content="{{ SITE_URL }}">
        <meta property="og:image" content="{{ url_for('static', filename='img/logo_marianne_share.jpeg') }}">
        <meta property="og:description" content="{{ DESCRIPTION }}">
        <meta property="og:SITE_NAME" content="{{ SITE_NAME }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/leaflet/dist/leaflet.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/leaflet.photon/leaflet.photon.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
        <script src="{{ url_for('static', filename='node_modules/leaflet/dist/leaflet.js') }}"></script>
        <script src="{{ url_for('static', filename='node_modules/leaflet.photon/leaflet.photon.js') }}"></script>
        <script src="{{ url_for('static', filename='utils.js') }}"></script>
        {% block extrahead %}{% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock %}">
        <header class="wrapper">
            <section><h1 class="beta"><a href="/">{{ SITE_NAME }}</a></h1></section>
            <section class="menu"><!--
              --><a class="mwide tthird" href="{{ url_for('about') }}">Infos</a><!--
              --><a class="mwide tthird" href="{{ url_for('download') }}">Données</a><!--
              --><a class="mwide tthird soon" href="#">Contribuer</a><!--
              --><a class="mwide tthird" href="{{ url_for('tools') }}">Outils</a><!--
            --></section>
        </header>
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <ul class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <div class="content">
            {% block content %}
            {% endblock content %}
        </div>
        <footer class="wrapper">
            <div class="row">
                <ul class="col third">{{ SITE_NAME }}
                    <li><a href="{{ url_for('about') }}">À propos</a></li>
                    <li><a href="{{ url_for('cgu') }}">Mentions légales et CGU</a></li>
                    <li><a href="{{ url_for('faq') }}">FAQ</a></li>
                    <li><a href="mailto:{{ CONTACT_EMAIL }}">Contact</a></li>
                </ul>
                <ul class="col third">Partenaires
                    <li><a href="http://ign.fr/">IGN</a></li>
                    <li><a href="http://www.laposte.fr/">La Poste</a></li>
                    <li><a href="http://openstreetmap.fr/">OpenStreetMap France</a></li>
                    <li><a href="http://www.modernisation.gouv.fr/">SGMAP</a></li>
                </ul>
                <div class="col third netword">
                    <a href="https://twitter.com/{{ TWITTER }}" class="twitter">Suivez-nous sur Twitter</a>
                </div>
            </div>
        </footer>
        <script type="text/javascript">
            Tooltip({content: 'Bientôt! :)', duration: 3000}).attachTo('.soon');
        </script>
<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//stats.data.gouv.fr/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 13]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//stats.data.gouv.fr/piwik.php?idsite=13" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
    </body>
</html>
