{% extends 'base.html' %}

{% block body_class %}cgu{% endblock %}

{% block content %}
<div class="wrapper">
    <div class="row">
        <h2>Mentions légales</h2>
        <h4>Editeur</h4>
        <p>Secrétariat général pour la modernisation de l’action publique (SGMAP)<br />
        64 à 70, allée de Bercy, bâtiment Sully<br />
        75572 Paris Cedex 12<br />
        Tél : +33 1 53 18 76 25<br />
        sec.sgmap [ à ] modernisation.gouv.fr</p>

        <p>Directeur de la publication : M<sup>me</sup> Laure de la Brétèche, SGMAP</p>

        <h4>Hébergeur</h4>
        <p>Société OVH<br />
        SAS au capital de 10 059 500 €<br />
        RCS Lille Métropole 424 761 419 00045<br />
        Code APE 6202A<br />
        Siège social : 2 rue Kellermann - 59100 Roubaix - France.</p>
    </div>
</div>
{% endblock content %}
