{% extends 'base.html' %}

{% block body_class %}faq{% endblock %}

{% block content %}
<div class="wrapper head">
    <div class="row">
        <h1>Contribuer</h1>
        <p>Les différents outils à votre disposition pour contribuer au contenu de la BAN.</p>
    </div>
</div>
<div class="wrapper">
    <div class="row">
        <div class="col half prose">
        <h2>Outil pour les organismes publics</h2>
        <p>Développé conjointement par l'IGN et La Poste, cet outil est destiné plus particulièrement aux mairies ainsi qu'à certains services territoriaux comme les SDIS.</p>
        
    </div>
    <div class="col half">
        <h2>Outil de signalement RIPART de l'IGN</h2>
        <p></p>

        <h2>Signalement auprès de La Poste (SNA)</h2>
        <p></p>

        </div>
    </div>
</div>
{% endblock content %}
