{% extends 'base.html' %}

{% block body_class %}faq{% endblock %}

{% block content %}
<div class="wrapper head">
    <div class="row">
        <h1>Contribuer</h1>
        <p>Les différents outils à votre disposition pour contribuer au contenu de la BAN.</p>
    </div>
</div>
<div class="wrapper">
    <div class="row">
        <div class="col half prose">
        <h2>Guichet Adresse pour les organismes publics</h2>
        <p>Développé conjointement par l'IGN et La Poste, cet outil est destiné plus particulièrement aux mairies ainsi qu'à certains services territoriaux comme les SDIS.</p>
        <a href="http://orgpub-adresse.data.gouv.fr/"><img width="80%" src="{{ url_for('static', filename='img/outil-mairies.png') }}" /></a>
    </div>
    <div class="col half">
        <h2>Outil de signalement RIPart de l'IGN</h2>
        <p>RIPart, vous offre la possibilité de localiser distinctement les évolutions du terrain que vous avez constatées. Le signalement des évolutions constatées sera traité par l’IGN et contribuera à améliorer la qualité et l’actualité des éditions du RGE®.</p>
        <p><a href="http://ripart.ign.fr/">Accéder à RIPart</a></p>

        <h2>Signalement auprès de La Poste (SNA)</h2>
        <p><a href="http://www.laposte.fr/sna">Service National de l'Adresse</a> de La Poste.</p>

        </div>
    </div>
</div>
{% endblock content %}
