{% extends 'base.html' %}
{% block extrahead %}
    <meta name="csrf" content="{{ csrf_token() }}">
{% endblock extrahead %}
{% block body_class %}crowdsourcing{% endblock %}

{% block body %}
<div id="map"></div>
<div id="menu">
    <a href="/" title="Retour à la page d'accueil" class="brand"><img src="{{ url_for('static', filename="img/logo.jpg") }}"></a>
    <ul>
        <li class="when-logged"><span class="username"></span></li>
        <li class="when-logged"><a href="{{ url_for('logout') }}" class="logout button neutral">Déconnection</a></li>
        <li class="when-anonymous"><a href="#" class="login button">Connection</a></li>
    </ul>
</div>
<div id="search" class="step">
    <div class="overlay with-transition"></div>
    <span class="step-action"><input type="text" /></span>
</div>
<div id="topbar" class="step with-transition">
    <h2 class="step-action">Éditer la position de l'adresse</h2>
</div>
<div id="panel" class="step with-transition">
</div>
<div id="thanks" class="step">
    <div class="overlay with-transition"></div>
    <div class="message with-transition">Merci pour votre contribution. Elle sera prise en compte dans les moins brefs délais.<br />
    <a href="#" class="button">Continuer</a>
    </div>
</div>
<div id="login" class="with-transition">
    <div class="overlay with-transition"></div>
    <div class="message with-transition">
        <a href="#" class="button oauth">S'identifier</a>
        <a href="#" class="button neutral anonymous">Contribution anonyme</a>
    </div>
</div>
<script src="{{ url_for('static', filename='crowdsourcing.js') }}"></script>
<script type="text/javascript">
    initUI({
        tileUrl: '{{ TILE_URL|safe }}',
        user: '{{ session.fullname }}'
    });
</script>
{% endblock body %}
