{% extends 'base.html' %}

{% from "helpers.html" import render_field %}

{% block body_class %}download{% endblock %}
{% block extrahead %}
    <script src="{{ url_for('static', filename='node_modules/d3/d3.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/topojson/topojson.js') }}"></script>
{% endblock extrahead %}

{% block content %}
<div class="wrapper head">
    <div class="row">
        <h1>Données brutes</h1>
        <p><strong>{{ SITE_NAME }}</strong> met en place des outils pour une prise en main rapide des données adresses ouvertes.</p>
        <p>Les données listées ci-dessous proviennent du projet BANO initié par OpenStreetMap France et seront prochainement complétées par celles des autres partenaires.</p>
    </div>
</div>
<div class="wrapper">
    <div class="row sea">
        <div class="col half">
            <h2>Télécharger en ODBL</h2>
            <p>Cette version ne contient pas les colonnes x et y, mais elle est néanmoins enrichie des adresses disponibles dans OpenStreetMap.</p>
            <a href="#" class="button">Télécharger maintenant</a>
        </div>
        <div class="col half">
            <h2>Télécharger en licence hygiène</h2>
            <p>Super la licence non virale qui salit pas les doigts.</p>
            <form method="post" id="tracked_download" action="{{ url_for('download') }}">
                {{ form.csrf_token }}
                {{ render_field(form.first_name)}}
                {{ render_field(form.last_name)}}
                {{ render_field(form.email)}}
                {{ render_field(form.company)}}
                <input type="submit" value="Recevoir un lien de téléchargement dans trois minutes" />
            </form>
        </div>
    </div>
</div>
{% endblock content %}
