{% extends 'base.html' %}

{% from "helpers.html" import render_field %}

{% block body_class %}download{% endblock %}

{% block content %}
<div class="wrapper head">
    <div class="row">
        <h1>Données brutes</h1>
        <p><strong>{{ SITE_NAME }}</strong> met en place des outils pour une prise en main rapide des données adresses ouvertes.</p>
        <p>Les données listées ci-dessous sont issues du rapprochement des données & traitements adresses des partenaires de la BAN : IGN, La Poste, DGFiP, Etalab et OpenStreetMap France.</p>
    </div>
</div>
<div class="wrapper prose">
    <div class="row">
        <p>Les <strong>données</strong> issues de la Base Adresse Nationale <strong>peuvent être téléchargées gratuitement</strong>,
          et sont <strong>disponibles sous deux licences</strong>.</p>
    </div>
    <div class="row">
      <h2>Données sous licence gratuite de repartage</h2>

      <div class="col half">


            <h3>Résumé de la licence</h3>

            <p>La licence gratuite de repartage vous autorise à :</p>
            <ul>
              <li>copier, distribuer et utiliser la base de données ;</li>
              <li>produire des créations à partir de cette base de données ;</li>
              <li>modifier, transformer et construire à partir de cette base de données.</li>
            </ul>

            <p>Tant que :</p>
            <ul>
              <li>vous mentionnez la source des données ;</li>
              <li>vous ne commercialisez pas ces données ;</li>
              <li>vous communiquez à l'IGN et à La Poste les bases de données dérivées ;</li>
              <li>vous cédez à l'IGN et à La Poste, et à titre gratuit, les droits d'auteur et de propriété industrielle sur les bases de données dérivées.</li>
            </ul>

            <p>Pour plus de renseignements, consultez <a href="{{ url_for('static', filename='pdf/BAN Licence de repartage.pdf') }}">le texte de la licence</a>.</p>

        </div>

        <div class="col half">

            <h3>Données</h3>

            <p>Pour connaître précisement le contenu de ces données, <a href="{{ url_for('static', filename='pdf/Description du contenu du produit gratuit issu de la Base Adresse Nationale.pdf') }}">consultez le descriptif des données</a>.</p>

            <p>Données en téléchargement pour un département, ou la France entière, et disponibles exclusivement au format CSV.</p>

            {% if delivery_date %}<p>Date de dernière livraison: {{ delivery_date.strftime('%d/%m/%Y') }}</p>{% endif %}

            <a href="/data/" class="button">Accéder aux données</a>
        </div>
      </div>

      <hr>

      <div class="row">
        <h2>Données sous licence ODbL</h2>

        <div class="col half">
            <h3>Résumé de la licence</h3>

            <p>La licence ODbL vous autorise à :</p>
            <ul>
              <li>copier, distribuer et utiliser la base de données ;</li>
              <li>produire des créations à partir de cette base de données ;</li>
              <li>modifier, transformer et construire à partir de cette base de données.</li>
            </ul>

            <p>Tant que :</p>
            <ul>
              <li>vous mentionnez la source des données ;</li>
              <li>vous partagez à l'identique les bases de données dérivées ;</li>
              <li>vous gardez ouvertes ces données.</li>
            </ul>

            <p>Pour plus de renseignements, consultez <a href="http://www.vvlibri.org/fr/licence/odbl/10/fr/legalcode" target="_blank">la traduction française intégrale de la licence</a> ou le <a href="http://vvlibri.org/fr/licence/odbl/10/fr" target="_blank">résumé en français</a> disponibles sur le site Veni Vidi Libri, ou bien le texte de référence en anglais sur <a href="http://opendatacommons.org/licenses/odbl/summary/" target="_blank">Open Data Commons</a>.</p>

        </div>
        <div class="col half">

            <h3>Données</h3>

            <p>Les données proposées sous cette licence sont similaires à celles proposées sous licence gratuite de repartage. Néanmoins :</p>

            <ul>
              <li>le libellé à la norme AFNOR et le libellé d'acheminement ne sont pas disponibles ;</li>
              <li>les données subissent <a href="http://openstreetmap.fr/ban">des traitements qualité supplémentaires.</a></li>
            </ul>

            <p>Données en téléchargement pour une commune, un département, ou la France entière, et disponibles aux formats CSV, Shapefile et JSON.</p>

            <p>Pour plus de renseignements, consultez <a href="http://openstreetmap.fr/ban">la page dédiée à la diffusion de ces données</a> sur le site d'OpenStreetMap France.</p>

            <a href="http://bano.openstreetmap.fr/BAN_odbl" class="button">Accéder aux données</a>
        </div>
    </div>
    <hr />
    <div class="row">
        <h2>Offres commerciales des partenaires</h2>

        <p>Si les licences ou les données ci-dessus <strong>ne vous conviennent pas</strong>, vous pouvez vous rapporter aux <strong>autres offres</strong> proposées
          par les partenaires :</p>

        <ul class="partners">
            <li><a href="http://professionnels.ign.fr/pointadresse"><img alt="IGN" src="{{ url_for('static', filename='img/IGN.jpg') }}" /></a></li>
            <li><a href="http://www.laposte.fr/entreprise/produits-et-services/sna-gamme-geographique"><img alt="La Poste" src="{{ url_for('static', filename='img/laposte.jpg') }}" /></a></li>
        </ul>
    </div>
</div>
{% endblock content %}
