{% extends 'base.html' %}

{% block body_class %}foss{% endblock %}

{% block content %}
<div class="wrapper head">
    <div class="row">
        <h1>Logiciel libre</h1>
        <p><strong>{{ SITE_NAME }}</strong> est entièrement bâti sur du code libre.</p>
    </div>
</div>
<div class="wrapper">
    <div class="row">
        <ul>
            <li>Le code de ce site : <a href="https://github.com/etalab/adresse.data.gouv.fr">https://github.com/etalab/adresse.data.gouv.fr</a></li>
            <li>Le code du moteur de géocodage : <a href="https://github.com/addok/addok">https://github.com/addok/addok</a></li>
            <li>Le code de traitement des données BAN : <a href="https://github.com/etalab/ban-data">https://github.com/etalab/ban-data</a></li>
            <li>Le code de l'API de gestion : <a href="https://github.com/BaseAdresseNationale/api-gestion">https://github.com/BaseAdresseNationale/api-gestion</a></li>
        </ul>
    </div>
</div>
{% endblock content %}
