/******************************************************\
* This CSS is for the blog page                        *
* Needed to keep images from the ghost blog responsive *
\******************************************************/

.blog {
  max-width: 1000px;
  margin: 1em auto;
}

.blog-feature-image-container {
  position: relative;
  height: 500px;
  box-shadow: 38px 24px 50px -21px lightGrey;
}

.kg-image-card img {
  width: auto;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin: 1em auto;
  box-shadow: 38px 24px 50px -21px #C9D3DF;
}

figure.kg-card {
  text-align: center;
}

.blog-image, .blog-feature-image {
  border-radius: 4px;
  object-fit: cover;
}

.blog-separator {
  border-bottom: 2px solid #0053B3;
}

.blog-back-button {
  vertical-align: middle;
  padding: .5em 1em;
}

figcaption {
  font-style: italic;
}
